    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <a class="navbar-brand" href="index.html"><b>CSCI 1952B</b><span class="d-none d-lg-inline">: Responsible Computer Science in Practice</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{{index_ACTIVE}}}">
            <a class="nav-link" href="{{{ROOT}}}index.html">Home</a>
          </li>
          <li class="nav-item {{{schedule_ACTIVE}}}">
            <a class="nav-link" href="{{{ROOT}}}schedule.html">Schedule</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Resources</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{{{ROOT}}}syllabus.html">Syllabus</a>
              <a class="dropdown-item" href="https://edstem.org/us/courses/94378/discussion">EdStem</a>
              <a class="dropdown-item" href="https://canvas.brown.edu/courses/1101960/assignments">Collaborative Annotations</a>

               <!-- <div class="dropdown-divider"></div> 
               <a class="dropdown-item" href="https://forms.gle/ygKGfAL5nudPXsiT9">Waitlist form</a> -->
             <!-- <a class="dropdown-item" href="https://forms.gle/Vj35jPD4sRoCQv6p9">Lab section signup form</a> -->
             <!-- <a class="dropdown-item" href="https://docs.google.com/spreadsheets/d/1WwF7-xQmkbeOehnTf1yEuf3QoezPcgebZ-q9IH0tEkw/edit?usp=sharing">Discussion leadership signup sheet</a>  -->  
             <!-- <a class="dropdown-item" href="https://forms.gle/K7kDj2F3zpkaaVPL6">Mid-semester feedback form</a> -->
            </div>

         <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Assignments</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="https://docs.google.com/document/d/1Ole4-DI2GVNvLdm2RupTOf-pFGYXc5W2WA8toJS1n20/edit?usp=sharing">Project 1: Content Moderation</a>
               <a class="dropdown-item" href="https://docs.google.com/document/d/1nGrnr9b_ZIbhcnKLSqSAF4jjdGKPok66pGvGNRD9H80/edit?usp=sharing">Lab 2: Smart Thermostat</a>
               <!-- <a class="dropdown-item" href="https://docs.google.com/document/d/1XOrijFlwGwvBQkA4cu1gSWJ9okldMDIqHr2G-Ftn3jk/edit?usp=sharing">Lab 3: HireSense</a>
		<a class="dropdown-item" href="https://docs.google.com/document/d/1FXR5SJo1fs-aAH9MntYOwTtYo5J10WYGiLic2jkAz3U/edit?usp=sharing">Lab 4: User Centered Design</a>
                <a class="dropdown-item" href="https://docs.google.com/document/d/1dDnT4qjVcvCpTJIb-KFlE4y_6fkOfDEQVQV0jdbeMf4/edit?usp=sharing">Final project</a> -->
              </div>
          </li> 

          <li class="nav-item {{{staff_ACTIVE}}}">
            <a class="nav-link" href="{{{ROOT}}}staff.html">Staff</a>
          </li> 

          <!--<li class="nav-item {{{hours_ACTIVE}}}">
            <a class="nav-link" href="{{{ROOT}}}hours.html">Office hours</a>
          </li> -->
        </ul>
        <ul class="navbar-nav navbar-right d-none d-md-inline">
          <li><a><b>Spring 2026</b></a></li>
        </ul>
      </div>
    </nav>
