 <h4>Staff</h4>

      <!--  <p>CS 300 is brought to you by these humans!</p> -->

        <div class="row justify-content-center">
          <div class="col-3">
            <div class="image-cropper"><img class="profile-pic" src="images/julian.jpg" style="height:150px;"/></div>
          </div>
          <div class="col-9">
            <p><b>Julia Netter, Instructor</b> </p>
            <p>Hi, I'm Julia and I'm very excited to explore the world of responsible CS together with all of you! I love plants, woodworking, and tinkering with old things of all kinds. Outside the classroom in Spring you can find me on my bike or pottering around in the garden. </p>
          </div>
        </div>
        <hr />

        <div class="row">
          <div class="col-3">
            <div class="image-cropper"><img class="profile-pic" src="images/connor.jpg" style="height:150px;"/></div> </p>
          </div>
          <div class="col-9">
            <p><b>Connor Flick, HTA</b> </p>
            <p>Hi! I'm Connor (he/they), a senior concentrating in computational biology. I'm interested in user privacy, politics, philosophy, and understanding how people make design tradeoffs. Outside of CS, I'm an aerialist, pollster, and occasionally a crossword player. I'm excited to get to discuss responsible CS with you all :green_heart:</p>
          </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-3">
              <div class="image-cropper"><img class="profile-pic" src="images/jiayi.png" style="height:150px;"/></div>
            </div>
            <div class="col-9">
              <p><b>Jiayi Wu, UTA</b></p>
              <p>Hi! I’m Jiayi, a sophomore studying Math-CS and APMA. I’m interested in AI governance, formal reasoning, and any messy space where theory meets practice; outside of CS, I enjoy cold brew, hyperpop, long walks through busy streets, and taking on plank challenges. Excited to meet yall!:)
              </p>
            </div>
          </div>
          <br>
          <br>
