<h2>Syllabus</h2>

<table class="table table-striped table-bordered">
  <tr>
    <td>Meetings</td>
    <td> 3pm-4:20pm on Monday and Wednesday</td>
  </tr>
  <tr>
    <td>Room</td>
    <td>CIT 241</td>
  </tr>
  <tr>
    <td>Prerequisites</td>
    <td>Completed CS Intro Sequence (i.e., CSCI 0160, 0180, 0190, or 0200)</td>
  </tr>
  <tr>
    <td>Instructor</td>
    <td><a href="/">Julia Netter</a> (julia_netter@brown.edu)</td>
  </tr>
  <tr>
    <td>Head TA</td>
    <td>Connor Flick</td>
  </tr>
  <tr>
    <td>UTA</td>
    <td>Jiayi Wu</td>
  </tr>
  <tr>
    <td>Office Hours (Julia)</td>
    <td>TBD and by appointment</td>
  </tr>
    <tr>
    <td>TA hours</td>
    <td>By appointment (booking link to come)</td>
  </tr>
  <tr>
    <td>Assignments</td>
    <td>Collaborative annotations, four projects, one self-determined final project.</td>
  </tr>
  <!--  <tr>
  <td>Incompletes</td>
    <td>I expect everyone to complete the course on time. However, I
    certainly understand that there may be factors beyond your control,
    such as health problems and family crises, that prevent you from
    finishing the course on time. If you feel you cannot complete the
    course on time, please discuss with Malte Schwarzkopf the
    possibility of being given a grade of Incomplete for the course and
    setting a schedule for completing the course in the upcoming year.</td>
  </tr>-->
  <tr>
    <td>Late Policy</td>
    <td>Three late days in total for labs and the final project. </td>
  </tr>
  <tr>
    <td>Grading</td>
    <td>Weekly reflections: 10%; Participation: 15%; Discussion Leadership: 10%; Projects: 40%; Final Project: 25%.
    </td>
  </tr>
  <tr>
    <td>Course Time</td>
    <td>Students will spend approximately 3 hours per week in class (39 hours total). They will spend 3-4 hours per week preparing readings and completing the collaborative annotations assignments (39-52 hours total). The four projects and the final project will take on the order of 6-8 hours per week (105-120 hours total). Total estimated course time: 196-224 hours.</td>
  </tr>
</table>

<br/>
<br/>

<h2>Course Details</h2>

<ul class="list-unstyled">
  <li><a href="#desc">Learning Objectives</a>
  <li><a href="#req">Course structure</a>
  <li><a href="#grading">Grading</a>
  <li><a href="#pol">Policies</a>
</ul>

<h4>Learning objectives</h4>
<a name="desc">

<p>In this course, you will learn
  <ul>
    <li> how to analyze and critically engage with perspectives from ethics, social and political theory and other related disciplines which speak to the social impacts of computing; 
    <li> how to relate these perspectives to the practical process of building technology and the technical decisions faced by computer scientists; and
    <li>  how to apply them to technical decisions at various stages of the software development process, reorienting the practice of computer science to center the design and implementation of software and digital technology around a critical assessment of its social and political impacts.
  </ul>
  
  In summary, having completed the course, you will be able to engage with ideas and domain experts from the humanities, understand their concerns as they relate to the social, political, and ethical challenges of computing, and effectively integrate their perspectives into the design and development process.
  .</p>


<h4>Course structure</h4>
<a name="req">
<p>This is an advanced, interdisciplinary course. As such, it involves reading papers and other primary literature from philosophy and social and political theory, discussing them in class, applying them to problems in computing, and exploring new ideas. It is best suited for students who are interested in exploring interdisciplinary questions and comfortable with delving into unfamiliar literature.</p> 

<h5>Seminar sessions </h5>

In weekly seminar sessions, we will discuss how crucial ideas from ethics and social and political theory shed light on the social impacts of computing. The purpose of these sessions is to introduce you to key approaches and concepts of those disciplines, explore them in depth and to connect them to existing technologies and approaches in CS. We will read both key texts from ethics and social and political theory as well as interdisciplinary literature, and use them as a starting point for developing and critiquing normative arguments and positions about how digital technology shapes the lives of individuals and society. You will take turns presenting core ideas from the literature to kickstart the discussion.</p> 

<h5>Collaborative annotations</h5>
<p>For each session, you will:

    1. read assigned texts; and
    2. collaboratively annotate and comment on the text you have read (together with a group of your classmates, using the Hypothesis tool integrated with Canvas) and respond to the comments of others in your group. 

Your annotations are due before the session for which the text has been assigned (i.e., Monday and Wednesday before 3pm).

Collaborative annotations are graded for completion: you will get full credit for them long as they reflect a reasonable and good-faith attempt to engage with the assigned texts and your classmates' comments.</p> 

<h5>Projects</h5>
You will explore the choices and tradeoffs those perspectives require engineers to make from a technical perspective in four small, guided technical assignments and written reflections. In these assignments, you will engage with different aspects of technical development like specification, documentation, auditing, modeling, system design, writing code, code review and analysis. You will apply non-technical ideas and concepts discussed in the seminar sessions to the technical case study presented in each lab assignment and reflect on how those ideas would affect technical decision making in that specific context.</p> 

<h5>Sections</h5>
For each project, we will offer dedicated sections with the TAs which provide an introduction to the project and help you get started on it. Sections are optional but we strongly recommend you attend them to get the best possible start to the project. The course schedule and calendar will be updated with section dates a few weeks in advance.</p> 

<h5>Final project</h5>
You will be able to propose your own project which requires you to develop a technological artifact through a process of social and political engagement informed by the ideas and concepts explored in the seminar sessions.  </p> 

<h5>Discussion leadership</h5>
You will be responsible for leading and engaging others in parts of the discussion in one course session during the semester. (Session assignments will take place in week 2). You are expected to come prepared with a plan for a component the session, a set of questions you’d like to discuss and and activities to help guide the discussion in class towards aspects of the topic you want your fellow students to engage with. (You must meet with Julia ahead of time to prepare for your discussion leadership session.) </a></p> 


<h5>Participation</h5>
<p>This is a seminar course, so the discussion in class is an essential component. Your participation grade consists of three components:	

  <b>1. your presence in class:</b> one unexcused absence is no problem, but beyond that, if you cannot attend class for legitimate personal reasons or due to sickness, please email me in advance; 											
  <b>2. participation in class discussion:</b> I expect you to contribute to the discussions we have in class. I think of class discussion primarily as a space for learning, which is why you will not be graded on the content of your contributions but only on whether you are an active participant.	</p>			
  <b>3. colloquium:</b> you will meet with Julia at least once during the semester for a short (~15 minute) colloquium in which you will explain and answer questions on the work you prepared for one of the assignments. Each colloquium is also designed to provide you with useful feedback on your work and help you succeed in the course. <b>Attending the colloquia is mandatory. You will be notified once it's your turn to come to a colloquium.</p>
  <p>A note on the culture of debate we would like to foster in this course: discussions in this class are not about winning an intellectual battle, but about engaging with others’ views on their merits. They are also about taking intellectual risks, putting forward a potentially controversial argument, as well as receiving and offering constructive criticism. This is only possible in a class environment in which we build trust. In class, I therefore expect us all to treat each other courteously, engage with each other’s arguments constructively and in good faith no matter the topic.</p>
  


<h4>Policies</h4>
<a name="pol">
  <p>You can use a budget of three late days in total for the labs and the final project. The purpose of these late days is to provide you with some flexibility for unexpected situations in which you find yourself unable to complete an assignment on time (e.g., coinciding deadlines, extracurricular commitments, minor illness etc.). For those situations, we normally expect you to use your late days, rather than asking for an extension, so make sure to use them judiciously.  

<p> I expect you to attend every session, but let me know if you have any special
requirements. For sickness and other issues of wellbeing, please obtain a Dean's note
and I will accommodate them.</p>

<p>The course will involve substantial <em>reading</em> for each meeting, and you will need to
stay on top of the assigned readings to keep up, as we quickly move between topics. However, the texts we read are relatively standalone, so finding one paper difficult to read will not
disadvantage you going forward.</p>

<p><em>Reflections</em> are due at <b>3pm</b> (Eastern) on Wednesday,
and owing to the small amount of credit they contribute individually, there will be no late submission.
If you do encounter particular, unexpected hardships however, please send me an email.</p>

<h5>Accommodations</h5>
<p>Brown University is committed to full inclusion of all students.  Please inform me if you have
a disability or other condition that might require accommodations or modification of any of
these course procedures. You may email me, come to office hours, or speak with me after class,
and your confidentiality is respected. I will do whatever we can to support accommodations
recommended by SEAS. For more information contact Student and Employee Accessibility Services
(SEAS) at 401-863-9588 or SEAS@brown.edu.</p>

<h5>Mental Health</h5>
<p>Being a student can be very stressful. If you feel you are under too much pressure or there are
psychological issues that are keeping you from performing well at Brown, I encourage you to
contact Brown’s Counseling and Psychological Services
(<a href="https://www.brown.edu/campus-life/support/counseling-and-psychological-services/">CAPS</a>).
They provide confidential counseling and can provide notes supporting extensions on assignments
for health reasons.</p>

<h5>Academic Integrity</h5>
<p>From the Brown academic code: “Academic achievement is ordinarily evaluated on the basis of work that a student produces independently. Students who submit academic work that uses others’ ideas, words, research, or images without proper attribution and documentation are in violation of the academic code. Infringement of the academic code entails penalties ranging from reprimand to suspension, dismissal, or expulsion from the University.</p>

<p>“Brown students are expected to tell the truth. Misrepresentations of facts, significant omissions, or falsifications in any connection with the academic process (including change of course permits, the academic transcript, or applications for graduate training or employment) violate the code, and students are penalized accordingly. This policy also applies to Brown alums, insofar as it relates to Brown transcripts and other records of work at Brown.
</p>

<p>“Misunderstanding the code is not an excuse for dishonest work. Students who are unsure about any point of Brown’s academic code should consult their courses instructors or an academic dean, who will be happy to explain the policy.”</p>

<p>Please review the Brown Academic Code <a href="https://www.brown.edu/academics/college/degree/policies/ academic-code">here. </a></p>
